body {
    background-color:#FFFF33;
    color:	#668800 ;
    
    font-size:20px;

  }
h1 {
    color: #1C382B;
    text-align:center;

    font-size:40px;
}
h2,h3,h4,h5,h6 {
    color: #4E4B2C;
    text-align:right;
   
  
}
p {
    color: solid black;
    

}
caption {
    color: #4E4B2C

}
tr,td,th {
    color: solid black 
    border: 10px mediumseagreen;
    padding: 20px;
}
