body {
    background-color:#FFBB66;
    color: solid	 #1C382B ;

    font-size:20px;

  }
h1 {
    color: #1C382B;
    text-align:center;

    font-size:40px;
}
h2,h3,h4,h5,h6 {
    color: #1C382B;

   
  
}
p {
    color: solid black;
    

}

td,th {
    color: solid black ;
    border: 20px darkgreen;
    padding: 20px;
   
    margin: 150px;
}
caption{
    color: #1C382B
    margin: 25px;
}
